# Environment
.env

# IDEs and Editors
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/

# Node
/frontend/node_modules/
/frontend/dist/

# SQLite
*.db
*.db-journal

postgres_data

.next

node_modules